# =========================
# Python virtual environment
# =========================
venv/
.venv/
env/

# =========================
# Environment variables
# =========================
.env

# =========================
# Python cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Embeddings / local storage
# (your RAG cache)
# =========================
embeddings_store/
*.pkl
pdf_store/
images/

node_modules/

# =========================
# Logs
# =========================
*.log

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db